files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99-post-deploy-clear-cache.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
          if [ -f /tmp/leader_only ]; then
            echo "Running Migrations"
            container_id=`docker ps -q --no-trunc | head -n 1`
            docker inspect $container_id
            docker exec $container_id node /app/scripts/clear_cache.js
          fi
container_commands:
  01_touch_the_leader:
    command: |
      #!/usr/bin/env bash
      touch /tmp/leader_only
    leader_only: true

