//  NOTE:
//    Don't want to cause styling conflicts w/ main site
//    CollectionFilter so making Flash Sale changes here

.CollectionFilterSort .FilterSort .Button--tall {
  padding: 6px;
  width: 100%;
  font-size: 14px;
}

.ExpandablePanel__name {
  // poor form
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
}

.ExpandablePanelItem--is-active .ExpandablePanel__name:before {
  top: 3px;
  font-size: 0.7rem;
  color: rgb(119, 119, 119);
}

.ExpandablePanel__optionName {
  font-size: 1.05em;
}

.CollectionSort {
  padding-right: 48px;
}

.App__main--open .App__blanket {
  z-index: 1;
  visibility: visible;
  opacity: 0.3;
}

.App__blanket {
  position: fixed;
  visibility: hidden;
  background: $c-black;
  z-index: 3;
}
