.width--full {
  width: 100%;
}

.height--full {
  height: 100%;
}

.display--block {
  display: block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.overflow--hidden {
  overflow: hidden;
}

.position--absolute {
  position: absolute;
}

.position--fixed {
  position: fixed;
}

.position--relative {
  position: relative;
}

.textAlign--left {
  text-align: left;
}

.textAlign--center {
  text-align: center;
}

.textAlign--right {
  text-align: right;
}
