.width--full {
  width: 100%;
}

.height--full {
  height: 100%;
}

.u-center {
  margin: 0 auto;
}

.display--block {
  display: block;
}

.display--inline {
  display: inline;
}

.display--inline-block {
  display: inline-block;
}

.float--left {
  float: left;
}

.float--right {
  float: right;
}

.overflow--hidden {
  overflow: hidden;
}

.position--absolute {
  position: absolute;
}

.position--fixed {
  position: fixed;
}

.position--relative {
  position: relative;
}

.textAlign--left {
  text-align: left;
}

.textAlign--center {
  text-align: center;
}

.textAlign--right {
  text-align: right;
}

// NOTE: Nav, we will need to merge these :(
.u-text-align-right {
  text-align: right;
}

.u-vertical-align-middle {
  vertical-align: middle;
}
