.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.App .layout-container {
  padding: 0 4%;
}

.App__content {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App__main {
  &--open .App__blanket{
    z-index: 1;
    visibility: visible;
    opacity: 0.3;
  }
}

.App__blanket {
  position: absolute;
  visibility: hidden;
  background: $c-black;
  z-index: 2;
}

.App-intro {
  font-size: large;
}
