.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.App__content {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App__main {
  transition: 350ms transform ease-in-out;
  transform: translateX(0%);
  &--open {
    transform: translateX(10%);
  }
  &--open .App__blanket{
    z-index: 1;
    visibility: visible;
    opacity: 0.3;
  }
}

.App__blanket {
  position: absolute;
  z-index: -1;
  transition: 300ms opacity ease-in-out;
  visibility: hidden;
  background: blue;
  opacity: 0;
}

.App-intro {
  font-size: large;
}
