.BDCustomizationDetailsSelect {
  padding-top: 10px;
  opacity: 1;
  transition: 300ms opacity ease-in-out;
}

.BDCustomizationDetailsSelect__image-wrapper {
  max-width: 142px;
}

.BDCustomizationDetailsSelect__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BDCustomizationDetailsSelect--selected {
  outline: 3px solid $c-hover-gray;
  outline-offset: 3px;
}

.BDCustomizationDetailsSelect--loading {
  opacity: 0.4;
}

.BDCustomizationDetailsSelect--incompatible {
  opacity: 0.2;
  cursor: not-allowed;
}
