.BridesmaidsSilhoutteSelect--image-wrapper {
  height: 300px;
  width: 175px;
}

.DressFilterLength--selected {
  color: #f00;
  font-weight: bold;
}

.BridesmaidsLengthSelect__contents {
  max-width: 800px;
}
