.BridesmaidsFilterHeader__wrapper {
  height: 100px;
  color: $c-white;
}

.BridesmaidsFilterHeader__wrapper--light {
  color: $c-black;
}

.Bridesmaids_SizeGuideTabs__heading {
  top: 0;
  width: 100%;
}

.Bridesmaids_SizeGuideTabs__content {
  margin-top: 86px;
  padding: 0 5px;

  @include sm {
    padding: 0 60px;
  }
}

.Bridesmaids_SizeGuideTabs__heading .Tabs__list {
  text-align: left;
}

.Bridesmaids_SizeGuideTabs__heading .Tabs__link {
  font-size: 1.4em;
  margin: 15px 20px 5px;
  padding-bottom: 12px;
}

.Bridesmaids_SizeGuideTabs__heading .Tabs__link--active {
  border-bottom: 3px solid $c-black;
}
