.BridesmaidsSilhoutteSelect--image-wrapper {
  height: 200px;
  width: 200px;
}

.BridesmaidsSilhoutteSelect__contents {
  max-width: 800px;
}

.DressFilterSilhouette--selected {
  color: #f00;
  font-weight: bold;
}
