.BridesmaidsSilhoutteSelect--image-wrapper {
  height: 300px;
  width: 175px;
}

.DressFilterLength {
  opacity: 0.33;
  transition: 300ms opacity ease-in-out;
}

.DressFilterLength--selected {
  opacity: 1;
  font-weight: bold;
}

.BridesmaidsLengthSelect__contents {
  max-width: 800px;
}
