.BridesmaidsTopDetailSelect {
  max-width: 720px;
}

.DressFilterTopDetail {
  min-height: 100px;
  transition: 300ms ease-in-out;
  opacity: 0.33;
}

.DressFilterTopDetail--selected {
  font-weight: bold;
  opacity: 1;
}
