.BridesmaidsFilterModal__heading {
  margin-top: 100px;
  border-bottom: 1px solid $c-border-gray;
  padding-bottom: 10px;
}

.BridesmaidsFilterModal__layout-container {
  padding: 0 60px;
}

.BridesmaidsFilterModal__button {
  width: 100%;
  bottom: 0;
  z-index: 1;
}
