.BridesmaidsSilhouetteSelect--image-wrapper {
  opacity: 0.33;
  transition: 300ms opacity ease-in-out;
}

.BridesmaidsSilhouetteSelect--min-height-img {
  min-height: 330px;
}

.BridesmaidsSilhouetteSelect--selected.BridesmaidsSilhouetteSelect--image-wrapper {
  opacity: 1;
}

.BridesmaidsSilhouetteSelect__contents {
  max-width: 700px;
}

.BridesmaidsSilhouetteSelect__contents > div {
  padding: 0 30px;
}

.DressFilterSilhouette--selected {
  color: $c-black;
  font-weight: bold;
}
