.BridesmaidApp {
  text-align: center;
  background: $c-white;
}

.BridesmaidApp--scroll-lock {
  overflow-y: hidden;
}

.BridesmaidApp__link {
  color: $c-black;
  cursor: pointer;
  font-weight: 400;
  text-decoration: underline;
}

.layout-container {
  padding: 0 4%;
}

.BridesmaidApp__content {
  background-color: rgb(34, 34, 34);
  padding: 20px;
  color: rgb(255, 255, 255);
}
