.Button {
  width: 100%;
  height: $button-height;
  padding: 0 2.2rem;
  border: 0;
  background: $c-black;
  color: $c-white;
  font-size: 1rem;
  cursor: pointer;
  transition: $standard-transition-time background-color;

  &:hover {
    background-color: $c-hover-gray;
  }

  &.Button--disabled {
    background-color: $c-disabled;
    cursor: not-allowed;
  }

  &--tall {
    height: $button-height--tall;
  }

  &--facebook {
    background-color: $c-facebook;
  }
}
