.Cart {
  margin-top: 30px;
}

.CartDrawer__wrapper {
  top: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 500px;
  z-index: 1000;
  transform: translateX(500px);
  background: $c-white;
}

.CartDrawer__header {
  min-height: 60px;
  max-height: 60px;
  padding-top: 17px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-light-gray;
  box-shadow: 0 3px 2px -2px $c-super-light-gray;
}

.Cart__single-product-description {
  position: relative;
}

.Cart__line-description {
  display: block;
  line-height: 1.9em;
}

.Cart__layout-container {
  padding-left: 50px;
  padding-right: 50px;
}

.Cart__product-remove,
.CartDrawer__hidden-close {
  position: absolute;
  width: 25px;
  height: 25px;
}

.CartDrawer__hidden-close {
  left: 0;
}

.Cart__product-remove {
  right: 0;
}
