.BDColorSelection {
  padding-bottom: 100px;
}

// TURNING OFF UNTIL WE HAVE TIME TO EXPERIMENT
// .BDColorSelection__transform-wrapper {
//   transition: 500ms transform ease-in-out;
// }
// .BDColorSelection__transform-wrapper:hover {
//   transform: translate3d(0, -3px, 0);
// }

.BDColorSelection__swatch::after {
  padding-top: 100%;
  float: left;
  content: '';
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: 300ms opacity ease-in-out;
  height: 100%;
  width: 100%;
}


.BDColorSelection__swatch:hover::after {
  opacity: 1;
}

.BDColorSelection__swatch--dark {
  color: $c-white;
}

.BDColorSelection__wrapper {
  background-size: cover;
}

.BDColorSelection__wrapper--extreme-light {
  border: 1px solid $c-neutral-4;
}

.BDColorSelection__wrapper.BDColorSelection__wrapper--active {
  // Necessary double class for IE Bug which doesn't respect specificity
  outline: 3px solid $c-hover-gray;
  outline-offset: 3px;
}

.BDColorSelection__swatch {
  opacity: 1;
  transition: $standard-transition-time opacity;
  font-weight: 500;
}

.BDColorSelection__touch-display-text {
  padding-top: 10px;
  margin-bottom: -60px;
  display: block;
  line-height: 1;
}

.BDColorSelection__text {
  display: inline-block;
  padding-top: 10px;
}
