.CurrentDressSizeForm__layout-container {
  max-width: 300px;
}

.CurrentDressSizeForm__size-error-text {
  margin-top: -15px;
}

.CurrentDressSizeForm__sub-heading {
  width: 244px;
  text-align: center;
  margin: 0 auto;
}

.CurrentDressFitForm__layout-container {
  margin-left: 50px;
}

.amt--last {
  padding-left: 3px;
}
