.FitIDOverview__body-fit-wrapper {
  height: 130px;
  background-color: $c-background-gray;
  position: relative;

  .edit-body-link {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
  }
}

.FitIDOverview {
  .WizardStep__title {
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .ButtonBox {
    padding: 50px 120px;
  }
}

.body-fit-title {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.FitIDOverview__body-fit-list {
  li {
    float: left;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 45px;
  }
}

.CurrentDressFitCombined__header-image {
  width: 750px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  object-position: 50% 30%;
}

.CompletedFitID__body-fit-list {
  margin: 0 auto;
  display: inline-block;

  li {
    float: left;
    margin: 0 25px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .body-fit-value {
    line-height: 40px;
  }
}

.CustomDressFit--overview {
  margin-top: 60px;

  tr.bottom-space>td {
    padding-bottom: 30px;
  }

  td {
    text-align: left;
  }

  td>span {
    padding: 0 20px;
  }

  td>a {
    padding: 0 20px;
  }

}

.ButtonBox {
  .GetResults--link {
    display: block;
    margin-top: 30px;
  }
}

.Calc__label {
  font-weight: bolder;
  text-transform: uppercase;
}

.Calc__list {
  display: inline-block;

  li {
    text-align: left;
    margin: 10px 0;
  }

  .waiting {
    opacity: 0.2;
  }
}

.Calc__title {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

.checkmark {
  display: inline-block;
  margin-right: 20px;

  &:after {
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 5px;
    height: 10px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid $c-black;
    border-width: 0 2px 2px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}

.CompletedFitID__labels-wrapper {
  border: solid $c-super-light-gray;
  border-width: 2px 0;
  width: 300px;
}

.CompletedFitID__description {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
}

.CompletedFitID__title {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;

  span {
    font-weight: bold;
  }
}

.CompletedFitID__body-fit__list {
  float: left;
  width: 146px;

  li {
    margin: 20px 0;
  }
}

.EditFitID__button {
  background: $c-white;
  border: solid $c-super-light-gray;
  border-width: 2px;
  color: $c-black;

  &:hover {
    background-color: $c-super-light-gray;
  }
}

.CompletedFitID__dress-image__wrapper {
  text-align: right;
}

.CompletedFitID__dress-image {
  width: 300px;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.body-fit-labels {
  text-align: left;
  margin-left: 5px;
}

.body-fit-results {
  text-align: right;
  margin-right: 10px;
}

.body-fit-wrapper {
  content: "";
  clear: both;
  display: table;
  margin-top: 10px;
}

.body-fit-label {
  text-transform: uppercase;
  font-weight: bolder;
}

