.ExpressMaking__content {
  background: $c-background-gray;
  border: 1px solid $c-border-gray;
  padding: 19px 13px 0 5px;
}

.ExpressMaking__content--headline {
  font-weight: 600;
}

.ExpressMaking__content--error {
  color: $c-red;
}
