// .FlashSaleListApp {
//   margin: 0;
// }

// .layout-container {
//   padding: 0 4%;
// }

.FlashSaleBanner__wrapper {
  width: 100%;
  height: 400px;
  background: rgb(111, 111, 111);
}

.FlashSaleBanner__image {
  width: inherit;
}

.FlashSaleBanner__image--mobile {
  display: block;

  @include sm {
    display: none;
  }
}

.FlashSaleBanner__image--desktop {
  display: none;

  @include sm {
    display: block;
  }
}
