/* stylelint-disable */
.color-purple {
  background-color: #48217f;
}

.color-blue {
  background-color: #0000ff;
}

.color-green {
  background-color: #10a522;
}

.color-black {
  background-color: #000000;
}

.color-pink {
  background-color: #f458a6;
}

.color-red {
  background-color: #e01b1b;
}

.color-pastel {
  background-color: #CBF6EB;
}

.color-grey {
  background-color: #7e7e7f;
}

.color-metallic {
  background-color: #ACA8A2;
}

.color-nude, .color-nude-tan {
  background-color: #E6D4C0;
}

.color-white-ivory {
  background-color: #ffffff;
}

.color-print {
  background: "url(product-color-images/Cheetah.png)";
  background-size: cover;
  background-size: 700%;
}

.FlashSale {
  margin: 0;
}

.layout-container {
  padding: 0 4%;
}
