/* stylelint-disable */
.FlashSaleProductGrid__wrapper {
  text-align: left;
  // REMOVE: shouldn't have to do this (but not cascading correctly)
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  @include sm {
    margin: 32px;
    }
}

.FlashSaleProduct__container {
  padding: 16px;
}

.FlashSaleProduct__image-wrapper {
  position: relative;
  display: block;
}

.FlashSaleProduct__image-wrapper img {
  width: 100%;
}

.FlashSaleProduct__image--hover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.FlashSaleProduct__image-wrapper:hover {
  .FlashSaleProduct__image--original {
    z-index: 0;
  }
  .FlashSaleProduct__image--hover {
    display: block;
  }
}

// bruh...
.FlashSaleProduct__info [class^="col"] {
  padding-bottom: 0.5em;
}

.FlashSaleProduct__info a {
  font-size: 1.2em;
  color: #222222;

  &:hover {
    color: #777777;
  }
}

.FlashSaleProduct__original-price,
.FlashSaleProduct__current-price {
  text-align: right;
}

.FlashSaleProduct__original-price {
  text-decoration: line-through;
}

.FlashSaleProduct__current-price {
  font-weight: bold;
}

.FlashSaleProduct__footerMessageWrapper {
  background: #f5f5f5;
  text-align: center;
  padding: 32px;
}

.FlashSaleProduct__footerMessage a {
  color: #222222;
  text-decoration: underline;
}

.FlashSaleProductLine {
  line-height: 1.5;
}
