.Header {
  text-align: center;
  height: 60px;
  padding-top: 17px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-light-gray;
  box-shadow: 0 3px 2px -2px $c-super-light-gray;

  &__link {
    margin-right: 1rem;
  }

  &__action {
    margin-left: 1rem;
  }
}

.Header li {
  display: inline-block;
}
