.Header {
    text-align: center;
    display: inline-block;
    height: 60px;
}

.Header-logo {
    position: absolute;
    height: 22px;
}

.Header li {
    display: inline-block;
    margin: 0 10px;
}

@keyframes Header-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
