.Header,
.header__wrapper {
  text-align: center;
  height: 60px;
  padding-top: 17px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-light-gray;
  box-shadow: 0 3px 2px -2px $c-super-light-gray;
}

.Header__main-contents {
  z-index: 1;
}

.Header__content-padding {
  margin-bottom: 5px;
}

.Header__link {
  cursor: pointer;
  margin-right: 20px;
}

.Header__action {
  position: relative;
  cursor: pointer;
  margin-left: 2em;
  z-index: 1;
  transition: $fast-transition-time margin;
  vertical-align: top;
}

.Header__action--active-search-left {
  margin-right: -1.9em;
}

.Header__action--active-search-right {
  margin-left: -1.2em;
}

.Header__action-name {
  opacity: 1;
  transition: 180ms all;
}

.Header__action-name::after {
  content: '';
  border-right: 1px solid $c-neutral-8;
  padding-left: 25px;
}

.Header__action-name--hide {
  opacity: 0;
}

.Header__action-account-revealer {
  padding: 20px 40px;
  position: absolute;
  right: 0;
  background: $c-white;
  z-index: 2;
  top: 40px;
}

.Header__action-account-revealer::before {
  content: '';
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.2);
  transition: 300ms opacity ease-in-out;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.Header__icon-click-wrapper:hover {
  border-bottom: 1px solid;
  padding-bottom: 15px;
}


.Header li {
  display: inline-block;
}

.Header__cart-count {
  font-weight: 500;
  position: relative;
  left: -1px;
  bottom: 7px;
}
