.ImageLightboxModal__image {
  cursor: zoom-in;
}

.ImageLightboxModal__image--activeZoom {
  transform: scale(2);
  cursor: zoom-out;
}

.ImageLightboxModal__pagination {
  position: absolute;
  z-index: 1;
  right: 70px;
  top: 21px;
}
