.ModalContainer {
  background: rgba(10, 10, 10, 0.10);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__content-wrapper {
    padding: 20px 40px;
    background: $c-white;
  }

  &__content {
    visibility: visible;
  }


}

.Modal__content {
  &--sm-margin-top {
    margin-top: 15px;
  }

  &--sm-margin-bottom {
    margin-bottom: 15px;
  }

  &--med-margin-top {
    margin-top: 30px;
  }

  &--med-margin-bottom {
    margin-bottom: 30px;
  }
}
