.ProductCustomizationNavigation__nav {
  display: inline-table;
}

.ProductCustomizationNavigation__nav-list {
  margin-top: -50px;
  position: absolute;
  width: 200px;
}

.ProductCustomizationNavigation__nav-item {
  padding-bottom: 2px;
  color: $c-text-gray;
  transition: $fast-transition-time all ease-in-out;
}

.ProductCustomizationNavigation__nav-item:hover .ProductCustomizationNavigation__nav-item-text {
  border-bottom: 1px solid $c-text-gray;
}

.ProductCustomizationNavigation__nav-item-text--active {
  font-weight: 500;
  border-bottom: 1px solid $c-black;
  color: $c-black;
}
