.ProductCustomizationSize__layout-container {
  margin: 0 auto;
  max-width: 300px;
}

.ProductCustomizationSize__size-error-text {
  margin-top: -15px;
}

.ProductCustomizationSize__sub-heading {
  width: 244px;
  text-align: center;
  margin: 0 auto;
}

.amt--last {
  padding-left: 3px;
}
