.SideMenu {
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: -2px 0px 4px $c-black;
  transition: $standard-transition-time all ease-in-out;
}

.SideMenu__header {
  height: 60px;
}

.SideMenu--mr-caret-bump {
  margin-right: 10px;
}

.SideMenu__menu-btn {
  z-index: 1;
  top: 20px;
  right: 20px;
}

.SideMenu__body li {
  line-height: 3.2em;
}

.SideMenu__icon-wrapper {
  vertical-align: top;
  margin-left: -22px;
}

.SideMenuActionButtons__body {
  margin: 30% auto 0 auto;
}

.SideMenuActionButtons__caret--right {
  margin-right: -20px;
}

.SideMenuActionButtons__icon-wrapper--active .SearchBarExpander__icon {
  margin-right: -1.9em;
  z-index: 1;
}
