.WizardStep h3 {
  line-height: 1.0; // How do I override settings in typography
}

.WizardStep__title {
  max-width: 340px;
  margin: 0 auto;
}

.WizardStep__description {
  max-width: 300px;
  margin: 0 auto;
  line-height: 1.4em;
}

.WizardStep__info {
  max-width: 270px;
  margin: 0 auto;
}

.WizardStep__headline {
  text-transform: capitalize;
}

.SizeProfileModal__fixed-width-big {
  width: 800px;
}

.SizeProfileModal__fixed-width-small {
  width: 450px;
}

.SizeProfileModal__fixed-width-small_square {
  width: 385px;
  height: 275px;
}

.Survey__button {
  background: $c-white;
  color: $c-black;
  border: 2px solid $c-light-gray;
  width: 150px;
  height: 60px;

  &:hover {
    border: 2px solid $c-black;
  }
}

.button__value-selected {
  border: 2px solid $c-black;
}

.u-display-none {
  display: none;
}

.u-height-big {
  min-height: 80%;
}

.full-padding-big {
  padding: 50px;
}

.u-padding-big {
  padding: 0 50px 50px;
}

.title__emphasize {
  font-weight: bolder;
}

.align-items--flex-end {
  align-items: flex-end;
}

.SelectSize__button {
  background: $c-background-gray;
  color: $c-black;

  &:hover {
    background-color: $c-border-gray;
  }
}

.ButtonBox--medium-width {
  width: 300px;
}

.button-height-big {
  height: 55px;
}

.ButtonBox--center {
  margin: 20px auto;
}
