.WizardStep h3 {
  line-height: 1.0; // How do I override settings in typography
}

.WizardStep__title {
  max-width: 340px;
  margin: 0 auto;
}

.WizardStep__description {
  max-width: 300px;
  margin: 0 auto;
}

.WizardStep__info {
  max-width: 270px;
  margin: 0 auto;
}

.SizeProfileModal__fixed-width-big {
  width: 800px;
}

.SizeProfileModal__fixed-width-small {
  width: 500px;
}

.Survey__button {
  background: $c-white;
  color: $c-black;
  border: 2px solid $c-light-gray;
  width: 150px;
  height: 60px;

  &:hover {
    background-color: $c-white;
    border: 2px solid $c-black;
  }
}

.u-height-big {
  min-height: 80%;
}

.full-padding-big {
  padding: 50px;
}

.align-items--flex-end {
  align-items: flex-end;
}

.SelectSize__button {
  background: $c-background-gray;
  color: $c-black;

  &:hover {
    background-color: $c-border-gray;
  }
}

.ButtonBox--medium-width {
  width: 300px;
}

.button-height-big {
  height: 55px;
}

.ButtonBox--center {
  margin: 20px auto;
}

// OVERVIEW

.FitIDOverview__body-fit-wrapper {
  height: 130px;
  background-color: $c-background-gray;
  position: relative;

  .link {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 30px;
    margin-top: 30px;
  }
}

.FitIDOverview {
  .WizardStep__title {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .ButtonBox {
    padding: 50px 120px;
  }
}

.FitIDOverview__body-fit-list {
  li {
    float: left;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 45px;
  }

  .body-fit-title {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }
}
