.SizeGuideTable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  flex-direction: column;

  @include sm {
    flex-direction: row;
  }
}

.SizeGuideTable__cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  display: flex;

  @include sm {
    display: block;
  }
}

.SizeGuideTable__cell--active {
  background: $c-background-gray;
}

.SizeGuideTable__cell--current {
  background: $c-neutral-4;
}

.SizeGuideTable__column {
  flex-flow: row;
  display: flex;

  @include sm {
    flex-flow: column;
  }
}
