.Slider__frame {
  width: 100%;
  position: relative;
  line-height: 0;
  overflow: hidden;
  white-space: nowrap;
  height: 350px;
}

.Slider__slides {
  height: 100%;
}

.Slider .Slide {
  color: rgb(0, 0, 0);
  display: inline-block;
  max-width: 320px; // TODO: @elgrecode This will have to be adjusted
}
