.StandardSizeForm__layout-container {
  margin: 0 auto;
  max-width: 300px;
}

.StandardSizeForm__size-error-text {
  margin-top: -15px;
}

.StandardSizeForm__sub-heading {
  width: 244px;
  text-align: center;
  margin: 0 auto;
}

.amt--last {
  padding-left: 3px;
}

.ClothingSizeForm__layout-container {
  padding-top: 5px;
}
