.BodySection--section-container {
  max-width: 1270px;
  margin: 80px auto 0;
  padding: 0 3rem;
}

.BodySection--section-title {
  font-size: 1.5em;
  font-family: "freight-display-pro", Helvetica, Arial, sans-serif;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
}

// CTAs
.SuperCollection-BodySection--ctaCaption {
  padding: 40px;
  font-size: 1.5rem;
}

.SuperCollection-BodySection--ctaShop {
  padding-left: 10px;
  text-decoration: underline;
}

// Footer
.SuperCollection-Footer {
  margin: 60px 0;
}

.SuperCollection-Footer--cta {
  color: $c-white;
}

.SuperCollection-Footer--ctaHeading,
.SuperCollection-Footer--ctaSubheading {
  font-family: "freight-display-pro", Helvetica, Arial, sans-serif;
}

.SuperCollection-Footer--ctaHeading {
  font-size: 5.5rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.SuperCollection-Footer--ctaSubheading {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.SuperCollection-Footer--ctaCopy {
  text-decoration: underline;
  font-size: 1.7rem;
}

// Responsive
@media (max-width: 767px) {
  .SuperCollection-mobileHidden {
    display: none;
  }

  .SuperCollection-BodySection--ctaCaption {
    padding: 20px;
  }

  .SuperCollection-BodySection--ctaShop {
    padding-left: 0;
    flex: 0 0 100%;
    text-align: left;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .SuperCollection-tabletHidden {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .BodySection--section-container--Color {
    .SuperCollection-BodySection--column {
      padding: 0 3rem 4rem;
    }

    .SuperCollection-BodySection--grid {
      margin: 0 -3rem;
    }
  }

  .SuperCollection-desktopHidden {
    display: none;
  }
}
