.ToastMessage-triangle {
  position: absolute;
  padding: 7px;
  box-sizing: border-box;
  background: $c-white;
  box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
  min-width: 130px;
  right: -15px;
  top: 35px;
}

.ToastMessage-triangle::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.25em;
  top: 0em;
  left: 90%;
  box-sizing: border-box;
  border: 0.55em solid $c-black;
  border-color: transparent transparent $c-white $c-white;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 2px 2px 0px rgba(30, 30, 30, 0.1);
}
