.WizardContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.WizardStep__content {
  overflow-y: scroll;
}

.u-vh--normal {
  max-height: 85vh;
}

.u-vh--big {
  max-height: 91vh;
}

.WizardContainer--dim-background {
  background: $c-dim-background;
}

.WizardContainer__content-wrapper {
  background: $c-white;
  width: 400px;
}

.WizardContainer__fullScreen {
  width: 100%;
  height: 100%;
}

.WizardContainer__flexWidth {
  width: auto;
}

.WizardContainer__content {
  visibility: visible;
}

// WizardStep styles

.WizardStep__header {
  padding-top: 22px;
}

// Progress styles

progress {
  margin-top: 15px;
  width: 100%;
  height: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  background: rgb(246, 245, 243);
}

progress::-webkit-progress-bar {
  background: rgb(246, 245, 243);
}

progress::-webkit-progress-value {
  background: rgb(0, 0, 0);
}

progress::-moz-progress-bar {
  background: rgb(246, 245, 243);
}

// default Modal styles

.Modal__content--sm-margin-top {
  margin-top: 15px;
}

.Modal__content--sm-margin-bottom {
  margin-bottom: 15px;
}

.Modal__content--med-margin-top {
  margin-top: 30px;
}

.Modal__content--med-margin-bottom {
  margin-bottom: 30px;
}

.Modal__layout-container {
  padding: 0 40px;
}

.Modal__header--headline {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-light-gray;
}
