.ZoomModal__image {
  cursor: zoom-in;
}

.ZoomModal__image--activeZoom {
  transform: scale(2);
  cursor: zoom-out;
}

.ZoomModal__pagination {
  color: $c-black;
  position: relative;
  left: 35%;
  top: 13px;

  @include md {
    left: 45%;
  };
}
