.ZoomModal__image {
  cursor: zoom-in;
}

.ZoomModal__image--activeZoom {
  transform: scale(2);
  cursor: zoom-out;
}

.ZoomModal__pagination {
  position: absolute;
  z-index: 1;
  right: 70px;
  top: 21px;
}
